/********
* FONTS *
********/

@font-face {
    font-family: 'Grobold';
    src: url('../font/GROBOLD.eot?') format('eot'), 
		 url('../font/GROBOLD.woff') format('woff'),
		 url('../font/GROBOLD.ttf') format('truetype');
}

@font-face {
    font-family: "Abril";
    src: url('../font/AbrilFatface-Regular.otf') format('truetype');
}

@font-face {
    font-family: "Lato";
    src: url('../font/Lato-Bold.ttf') format('truetype');
}

/**********
* GENERIC *
**********/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-image: url('../images/bg.jpg'); 
	background-repeat: repeat-x;
	background-attachment:fixed;
	overflow-y: scroll;
    width: 100%;
	font-family: Roboto, Arial;	
}

a {
	text-decoration: none;
	color: #1e5c8c;
	transition: .2s all ease-in-out;
}

a:hover, a:visited:hover {
	color: #06375d;
	font-weight: bold;
}

a:visited {
	color: #3d78a5;
}

.container {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.containerColumn {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;	
}

.containerCentered {
	justify-content: center;
}

.container.jeux {
	align-items: center;
}

li {
	list-style: none;
}

select {
	padding: 3px;
	background: -webkit-gradient(color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(220,220,220,1)));
	background: -webkit-linear-gradient(rgba(255,255,255,1) 0%, rgba(220,220,220,1) 100%);
	background: -moz-linear-gradient(rgba(255,255,255,1) 0%, rgba(220,220,220,1) 100%);
	background: -o-linear-gradient(rgba(255,255,255,1) 0%, rgba(220,220,220,1) 100%);
	background: linear-gradient(rgba(255,255,255,1) 0%, rgba(220,220,220,1) 100%);	
	border-radius: 0;
}

input, textarea {
	cursor: pointer;
}

/* Remove autofill yellow color */
input:-webkit-autofill{
    -webkit-box-shadow: 0 0 0 1000px #d8e5ee inset;
}

.exhibitor {
	background-image: url("../images/exhibitor.png");
}

.okB {
	background-image: url("../images/okB.png");
}

.koB {
	background-image: url("../images/koB.png");
}

.okM {
	background-image: url("../images/okM.png");
}

.koM {
	background-image: url("../images/koM.png");
}

.okS {
	background-image: url("../images/okS.png");
}

.koS {
	background-image: url("../images/koS.png");
}

.mail {
	background-image: url("../images/mail.png");
}

.alpha {
	background-image: url("../images/alpha.png");
}

.contract {
	background-image: url("../images/contract.png");
}

.connection {
	background-image: url("../images/connection.png");
}

.booth {
	background-image: url("../images/booth.png");
}

.check {
	background-image: url("../images/check.png");
}

.facebook {
	background-image: url("../images/facebook.png");
}

.twitter {
	background-image: url("../images/twitter.png");
}

.webUrl {
	background-image: url("../images/webUrl.png");
}

.asso {
	background-image: url("../images/typeAssociationOff.png");
}

.shop {
	background-image: url("../images/typeShopOff.png");
}

.publisher {
	background-image: url("../images/typePublisherOff.png");
}

.new {
	background-image: url("../images/newOff.png");
}

.classic {
	background-image: url("../images/classicOff.png");
}

.proto {
	background-image: url("../images/protoOff.png");
}

.village {
	background-image: url("../images/villageOff.png");
}

.alice {
	background-image: url("../images/aliceOff.png");
}

.role {
	background-image: url("../images/roleOff.png");
}

.figurine {
	background-image: url("../images/figurineOff.png");
}

.assoBooth {
	background-image: url("../images/associationOn.png");
}

.shopBooth {
	background-image: url("../images/shopOn.png");
}

.koB, .okB, .koM, .okM, .koS, .okS, .titleIcon, .type, .classification, .area  {
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.classification {
	cursor: pointer;
}

.exhibName {
	border-right: solid 1px #1e5c8c;
	width: 25;	
}

.exhibStatus {
	width: 12.5%;
}

.exhibCheck {
	border-left: solid 1px #1e5c8c;
	width: 12.5%;	
}

.exhibLine td {
	position: relative;
}

.flip-container {
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	perspective: 1000px;
}

.flip-container.flip .flipper {
	transform: rotateY(180deg);
}

.flip-container, .flip-container .okB, .flip-container .koB {
	width: 32px;
	height: 32px;
}

.flipper {
	cursor: pointer;
	transition: 0.6s;
	transform-style: preserve-3d;
	position: relative;
}

.flip-container .okB, .flip-container .koB {
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
}

.flip-container .koB {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.flip-container .okB {
	transform: rotateY(180deg);
}

.stand {
	font-family: Grobold, Roboto, Arial;
	font-size: 1.2em;
	color: #1e5c8c;
}

#content {
	background-color: #bed3e3;
	max-width: 1200px;
	min-width: 320px;
	width: 90%;
	margin: 60px auto 40px auto;
	border-radius: 10px;
	box-shadow: 5px 5px 10px #000;	
}

#content h1 {
	background-color: rgba(0,0,0,.95);
	padding: 10px;
	text-align: center;
	font-family: Grobold, Roboto, Arial;
	color: #e74011;
	text-stroke: .001em white;
	-webkit-text-stroke: .001em white;
	width: 100%;
	border-radius: 10px 10px 0 0;
}

#content h1:last-child {
	border-radius: 0 0 10px 10px;
	text-align: right;
	padding-right: 30px;
}

input:not([type="submit"]) {
	margin-top: 5px;
    padding: 7px 15px 5px 15px;
    text-align: center;
    border: 1px solid #969696;
    background-color: #fff;
    background: -webkit-gradient(color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(220,220,220,1)));
    background: -webkit-linear-gradient(rgba(255,255,255,1) 0%, rgba(220,220,220,1) 100%);
    background: -moz-linear-gradient(rgba(255,255,255,1) 0%, rgba(220,220,220,1) 100%);
    background: -o-linear-gradient(rgba(255,255,255,1) 0%, rgba(220,220,220,1) 100%);
    background: linear-gradient(rgba(255,255,255,1) 0%, rgba(220,220,220,1) 100%);
}

input:-webkit-autofill:not([type="submit"]) {
    border: 1px solid #969696;
    background-color: #fff;
    background: -webkit-gradient(color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(220,220,220,1)));
    background: -webkit-linear-gradient(rgba(255,255,255,1) 0%, rgba(220,220,220,1) 100%);
    background: -moz-linear-gradient(rgba(255,255,255,1) 0%, rgba(220,220,220,1) 100%);
    background: -o-linear-gradient(rgba(255,255,255,1) 0%, rgba(220,220,220,1) 100%);
    background: linear-gradient(rgba(255,255,255,1) 0%, rgba(220,220,220,1) 100%);}

.fa-caret-down, .fa-caret-up {
	position: absolute;
	top: 50%;
	left: 13px;
	transform: translateY(-50%);
	color: #12578c;
	transition: transform .3s ease-in-out;
}

.red {
	color: #b70001;
}

.orange {
	color: rgb(231,64,17);
}

.darkBlue {
	color: #12578c;
}

.lightBlue {
	color: #90b5cf;
}

.black {
	color: black;
}

.stroke {
	text-stroke: 1px white;
	-webkit-text-stroke: .001em white;		
}

.bg-red {
	background-color: #9f0015;
}

.bg-green {
	background-color: green;
}

.paddingBottom {
	margin-bottom: 20px;
}

.hidden {
	display: none;
}

.invisible, #contentTextarea.invisible, #contentFile.invisible {
	max-height: 0;
}

.fa-caret-down.rotate180 {
	transform: translateY(-50%) rotate(180deg);
}

.fa-caret-up.rotate180 {
	transform: translateY(-50%) rotate(-180deg);
}

form input[type="radio"] {
	display: none;
	margin: 0;
}

form input[type="radio"] + label {
	display: inline-block;
	width: 100px;
	color: white;
	padding: 10px;
	margin: 0;
	transition: 0.5s all ease-in-out;
	cursor: pointer;
}

#profile form input[type="radio"] + label {
	width: 160px;
	height: 160px;
}

#profile form input[type="radio"]:checked + label.asso {
	background-image: url("../images/typeAssociationOn.png");
}

#profile form input[type="radio"]:checked + label.shop {
	background-image: url("../images/typeShopOn.png");
}

#profile form input[type="radio"]:checked + label.publisher {
	background-image: url("../images/typePublisherOn.png");
}

#booth form input[type="radio"] + label {
	width: 100px;
	height: 50px;
}

#booth form input[type="radio"]:checked + label.village {
	background-image: url("../images/villageOn.png");
}

#booth form input[type="radio"]:checked + label.alice {
	background-image: url("../images/aliceOn.png");
}

#booth form input[type="radio"]:checked + label.role {
	background-image: url("../images/roleOn.png");
}

#booth form input[type="radio"]:checked + label.figurine {
	background-image: url("../images/figurineOn.png");
}
#booth form .area input[type="radio"] + label {
	width: 200px;
	height: 70px;
}

#booth form input[type="radio"]:checked + label.new, .classification.new:hover {
	background-image: url("../images/newOn.png");
}

#booth form input[type="radio"]:checked + label.classic, .classification.classic:hover {
	background-image: url("../images/classicOn.png");
}

#booth form input[type="radio"]:checked + label.proto, .classification.proto:hover {
	background-image: url("../images/protoOn.png");
}

.pop .popContent {
	position: relative;
	padding: 0 18px;
    background-color: rgba(90,149,157,.5);
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;    
    max-height: 0;	
}

/******************
* HEADER / FOOTER *
******************/

header, footer {
	background-color: rgba(0,0,0,.95);
	color: white;
	width: 100%;
}

#headerContent, #footerContent {
	position: relative;
	max-width: 1200px;
	margin: auto;
}

header {
	position: fixed;
	top: 0;
	z-index: 2;	
	height: 45px;
	border-bottom: solid 1px #333;
	box-shadow: 3px 3px 10px #000;
}

header a, header a:visited {
	color: #bed3e3;
}

header a:hover, header a:visited:hover {
	color: white;
}

header img, footer img {
	position: absolute;
}

header #pelLogo {
	left: 20px;
}

header .menuS, header #logoutS {
	display: none;
}

#logout {
	position: absolute;
	z-index: 3;
	right: 10px;
	top: 11px;
	color: #d5e3ec;
	font-size: .8em;
	text-shadow: 1px 1px 1px #999;			
	padding: 5px 20px;
	background-color: rgba(255,255,255,.5);
	border-radius: 20px;
	transition: .3s all ease-in-out;
	cursor: pointer;
}

#logout:hover {
	background-color: #277db5;
}

footer img {
	height: 60px; 
	width: auto;
	bottom: 0px;
	right: 20px;
}
 
footer {
	position: fixed;
	bottom: 0;
	text-align: center;
	vertical-align: middle;
	height: 37px;		
	line-height: 37px;
	font-size: .8em;
	border-top: solid 1px #333;
	box-shadow: -3px -3px 10px #000;	
}

/*******
* MENU *
*******/

nav .pop .popContent {
	position: relative;
	padding: 0 18px;
    background-color: initial;
    overflow: hidden;
    transition: none;    
    max-height: initial;	
}

nav #menuS {
	display: none;
}

nav#menu .pop {
	border: none;
}

nav#menu ul {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	list-style: none;	
}

nav#menu li {
	padding: 14px 20px;
	flex: 0 0 1;	
}

nav#menu.user li {
	padding: 14px 10px;
	flex: 0 0 1;	
}

nav li {
	padding: 20px 30px;
	flex: 0 0 1;
}

nav li a {
	padding-top: 5px;	
	font-family: Roboto, Arial;
	border-top : solid 3px rgba(0,0,0,.95);	
	transition: 0.3s all ease-in-out;
}

nav li a:hover {
	border-top : solid 3px rgba(255,255,255,.95);
	font-weight: normal;
}

/****************
* LOGIN / ERROR *
****************/

#login, #error {
	position: absolute;
    width: 320px; 
    top: 30%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    border-radius: 10px;
	box-shadow: 5px 5px 10px #000;
}

#loginHeader, #error h1 {
	margin: 0;
	padding: 0;
	background-color: #12578c;
	background-image: url("../images/bgLogin.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	height: 115px;
	color: white;
	text-shadow: 2px 2px 2px black;		
	font-weight: bold;
	font-size: 1.5em;
	text-align: center;
	text-transform: capitalize;
	border-radius: 10px 10px 0 0;
	border: solid 1px #011f2b;
}

#error h2 {
	width: 100%;
	background-color: white;
	color: black;
	text-align: center;
}

#error p {
	background-color: #bed3e3;
}

#login form {
	margin: 0;
	padding: 10px;	
    text-align: center;
    background-color: white;
   	border-left: solid 1px #011f2b;
	border-right: solid 1px #011f2b;
}

#login p.forgottenPassword, #error p.backHome {
	background-color: #12578c;
	border: solid 1px #011f2b;
	border-radius: 0 0 10px 10px;
	margin: 0px;
	padding: 5px;
	text-align: right;
}

.forgottenPassword a, .backHome a {
	color: #ddd;
}

.forgottenPassword:hover, .backHome:hover {
	color: rgb(50,50,50);	
}	

#login label {
	display: inline-block;
}

#login label, #login form input:not([type="submit"]) {
	width: 45%;
	padding: 5px;
	margin: 2px;	
}

#login form input:not([type="submit"])::placeholder, #login label, #login form > p{
	font-size: .8em;
}

#login form input {
	border-style: none;	
}

#login form input:not([type="submit"]) {
	width: 150px;
}

#login form input[type="submit"], #listExhibitors + input[type="submit"], #profile input[type="submit"], #booth input[type="submit"], #fixedSubmit {
	background-color: #0a7ad0;
	border-style: none;
	color: white;
	border-radius: 20px;
	padding: 10px;
	margin-bottom: 20px;
	width: 200px;
	font-size: 1em;
	font-weight: bold;
	font-family: Lato;
	transition: 0.5s background-color ease-in-out;	
}

#login form input[type="submit"]:hover {
	background-color: #12578c;
}

#exhibitorsStatusForm {
	text-align: center;
}

#listExhibitors + input[type="submit"].fixedSubmit, #profile input[type="submit"].fixedSubmit, #booth input[type="submit"].fixedSubmit {
	position: fixed;
	bottom: 27px;
	left: 50%;
	transform: translateX(-50%);
	background-color: rgba(18,49,70,.7);	
}

#fixedSubmit:hover, #listExhibitors + input[type="submit"]:hover, #profile input[type="submit"]:hover, #booth input[type="submit"]:hover {
	background-color: black;	
}

#listExhibitors input[type=number], #profile input, .numberBig, #booth input[type=number], #booth #myBooth input[type=number] {
	padding: 0;
	margin: 0;
	border: none;
	background-image: none;
}

#listExhibitors input[type=number], .numberBig, #booth #myBooth input[type=number] {
	width: 60px;
	font-family: Grobold, Roboto, Arial;
	font-size: 1.5em;
	padding: 2px 0 0px 0;
}

#profile input {
	width: 100%;
}

#profile input::placeholder, #booth #myBooth input[type=number]::placeholder {
	font-style: italic;
	color: #333;
}

.exhibModifyStatus {
	width: 15%;
}

#loginBtn {
	margin-top: 10px;
}

#login #loginBtn.inactive, #login #loginBtn.inactive {
	background-color: #bed3e3;
}

.overlay {
    position: fixed;
    z-index: 50;    
    top:0; right:0; left:0; bottom:0;
    background-color: rgba(0,0,0,0.7);
    opacity: 1;
}


/**********
* PROFILE *
**********/

#profile h2, #booth h2 {
	background-color: white;
	width: 100%;
	font-style: italic;
	font-size: 1em;
	text-align: center;
	padding: 5px;
}

input[type=file] {
	background: none;
	border: none;
}

form {
	text-align: center;
}

.logo {
	max-height: 80px;
}

#profile .pop:first-of-type, #booth .pop:first-of-type {
	margin-top: 10px;
}

#profile .pop .popContent, #profile .pop .popContent, #booth .pop .popContent, #booth .pop .popContent {
    background-color: #90b5cf;
} 

#profile, #booth {
	padding-bottom: 50px;
}

#profile .upload, #booth .upload {
	display: none;
}

.uploadIcon {
    cursor: pointer;
	filter: grayscale();
	transition: .3s filter ease-in-out;
}

.uploadIcon:hover {
	filter: initial;
}

.uploadFilename {
	font-weight: bold;
	color: #13578c;
}

/********
* BOOTH *
********/

.packList {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	margin: 10px 0 -10px 10px;
}

#booth .popContent .pack {
	border: solid 2px #13578c;
	flex: 0 0 auto;
	font-family: Grobold, Roboto, Arial;
	margin: 0 10px 10px 0;
}

#booth .popContent table .blueSky td:nth-child(1) {
	text-align: right;
	width: 40%;	
}

#booth .popContent #associationExterieur table .blueSky td {
	width: 136px;
	text-align: center;
}

#booth .popContent table .blueSky td:nth-child(2) {
	color: #267cb5;
	text-align: left;
	width: 20%;
}

#booth .popContent table .blueSky td:nth-child(3) {
	text-align: center;
	width: 40%;	
}

#booth .popContent #associationExterieur table .blueSky {
	height: 43px;
}

.packList {
	margin-bottom: 10px;
}

.description, .choice {
	background-color: white;
	color: #13578c;
}

.description {
	border-bottom: solid 2px #13578c;
	font-size: 1.5em;
	line-height: 40px;	
}

.choice {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;	
	border-top: solid 2px #13578c;	
	font-size: 2em;	
}

.more, .less {
	font-size: 0;
	padding: 0;
	margin: 0;
} 

.btnPlusMinus {
	cursor: pointer;	
	width: 30px;
	height: 30px;
}

#booth .popContent .pack tr>td>img {
	width: 40px;
	height: 40px;
}

#booth .popContent .pack .blueSky {
	background-color: #d8e5ee;
}

.comment, .diverseShop {
	background-color: #90b5cf;	
}

.content {
	background-color: #d8e5ee;	
}

#booth textarea {
	width: 95%;
	margin: 5px auto 5px auto;
}

#contentTextareaBtn, #contentFileBtn {
	position: relative;
	display: inline-block;
	box-sizing: border-box;
	width: 50%;
	text-align: center;
	padding: 5px;
	padding-left: 20px;
	cursor : pointer;
}

#contentTextarea, #contentFile {
	overflow: hidden;
	position: relative;	
	max-height: 200px;
	transition: max-height .3s ease-in-out;			
}

#contentTextareaBtn, #contentTextarea {
	background-color: rgba(18,49,70,.5);
	color: white;
}

#contentFileBtn, #contentFile {
	background-color: #d8e5ee;
}

#webContent .fa-caret-down {
	position: absolute;
	color: #12578c;
	top: 50%;
	left: 10px;
	transform: translateY(-50%);
}

#webContent .fa-caret-down.rotate180 {
	transform: translateY(-50%) rotate(180deg);
}

.existingContentDoc {
	text-align: center;
}

.existingContentDoc p {
	margin-left: 5px;
	font-style: italic;
	font-size: .8em;
}

.containerFile {
	display: flex;
	align-items: center;
}

.imgExistingContentDoc {
	width: 30px;
	height: 30px;
}

#ourHosts {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.hostList, .gameList {
	display: inline-block;
	background-color: #d8e5ee;	
	padding-left: 20px;
	margin: 3px;
	text-align: center;	
}

.gameList img {
	vertical-align: middle;
}

.btnToRemoveJustAddedHost {
	cursor: pointer;
}

table {
    border-collapse: collapse;
	width: 95%;
	margin: auto;
	margin-top: 5px;
	box-shadow: 1px 1px 4px black;
}

table tr {
	height: 40px;
}

table td {
	text-align: center;
}

#listExhibitors table tr:not(.hidden):nth-child(even) {
	background-color: #d8e5ee;	
}

#listExhibitors table tr:not(.hidden):nth-child(odd) {
	background-color: #90b5cf;
}

#listExhibitors table tr.titleLine {
	background-color: rgba(18,49,70,.5);
	color: white;
	text-shadow: 1px 1px 2px black;
	border-bottom: solid 1px #1e5c8c;	
}

table tr.titleLine th {
	font-size: 1.5em;
}

table > caption {
	background-color: #fff;
	padding: 10px;
	width: 100%;
	text-align: center;
	font-weight: bold;
}

/* Remove automatic arrows on input "number" Firefox */
input[type=number] {
    -moz-appearance: textfield;
}
/* Chrome */
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button { 
	-webkit-appearance: none;
	margin:0;
}

/* Opéra*/
input::-o-inner-spin-button,
input::-o-outer-spin-button { 
	-o-appearance: none;
	margin:0
}

#listExhibitors input::-webkit-inner-spin-button,
#listExhibitors input::-webkit-outer-spin-button, 
#booth input::-webkit-inner-spin-button,
#booth input::-webkit-outer-spin-button { 
	-webkit-appearance: none;
	margin:0;
}
#listExhibitors input::-o-inner-spin-button,
#listExhibitors input::-o-outer-spin-button,
#booth input::-o-inner-spin-button,
#booth input::-o-outer-spin-button { 
	-o-appearance: none;
	margin:0
}

#addGameLine, #addHostLine, #booth h2.packShop {
	background-color: rgba(18,49,70,1);
	color: white;
}

#passwordRules {
	display: none;
	box-shadow: 5px 5px 10px #000;		
	position: absolute;
	top: calc(100% + 10px);
	padding: 5px;
	padding-left: 20px;
	background-color: white;
	background: linear-gradient(rgba(255,255,255,1) 0%, rgba(220,220,220,1) 100%);		
	border: solid 1px black;
	width: 320px;
	font-size: 0.7em;
}

.valid {
    color: green;
}

.valid::before {
    position: relative;
    left: -5px;
    content: "✔";
}

.invalid {
    color: red;
}

.invalid::before {
    position: relative;
    left: -5px;
    content: "✖";
}

#tempMessage {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	border: solid 1px white;
    box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.75);
	z-index: 20;
	opacity: 0;
	background-color: black;
	font-size: 1.5em;
	font-family: Roboto, Arial;
	padding: 10px;
	margin: 0;
	text-align: center;
	color: white;
	transition: 0.3s opacity ease-in-out;	
}

#controls {
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding-bottom: 20px;
}

.action {
	margin: 5px;
	text-shadow: none;
}

.actionBtn, .actionForm {
    height: 50vw; 
	padding-top: 10px;
    text-align: center;
	min-width: 150px;
	max-width: 300px;
	min-height: 150px;
	max-height: 300px;
}

.actionBtn {
	width: 98%;
	margin-top: 10px;
	position: relative;
	cursor: pointer;
	font-size: 2em;
	overflow: hidden;
	font-family: Grobold, Roboto;
	text-stroke: 1px white;
	-webkit-text-stroke: 1px white;
}

.actionBtn img {
	position: absolute;
	bottom: 0px;
	left: 50%;
	transform: translateX(-50%);
}

.actionTitle {
	padding-right: 30px;
	padding-left: 30px;
}

.actionForm {
	width: 100%;
	padding-right: 5px;
	padding-left: 5px;
	-webkit-text-stroke: initial;
	cursor: default;
    position: absolute;
    transition: all 1s;
	font-family: Roboto;
	font-size: .5em;
	top: 0;  
}

.actionForm input {
	width: 90%;
	margin-top: 5px;
	font-family: Grobold, Roboto;
	cursor: pointer;
	padding: 7px 0;
	border-style: none;
	transition: .3s all ease-in-out;
	background-color: rgb(220,220,220);	
	color: black;	
}

.actionForm input::placeholder {
  font-family: Roboto, Arial;	
}

.actionForm input[type="submit"]:hover {
	background-color: rgb(205,90,10);	
}

.actionForm .remove {
	width: 90%;
}

.actionForm.closed {
	top: 100%;   
}

#addExhibitorBtn {
	background-color: rgba(18,49,70,.5);
}

#addExhibitor {
	color: white;
	background-color: rgba(18,49,70,1);
}

#removeExhibitorBtn {
	background-color: rgba(87,142,183,.5);
}

#removeExhibitor {
	color: white;
	background-color: rgba(87,142,183,1);
}

#addUserBtn {
	background-color: rgba(90,149,157,.5);
}

#addUser {
	color: white;
	background-color: rgba(90,149,157,1);
}

#removeUserBtn {
	background-color: rgba(18,87,180,.5);
}

#removeUser {
	color: white;	
	background-color: rgba(18,87,180,1);
}

/***********
* CONTACTS *
***********/

#contact {
	padding-bottom: 20px;
}

#contact form {
	margin-top: 20px;
	font-size: 1em;
}
 
#contact input, #contact textarea {
	width: 90%;
	color: #666;
}

#contact input {
	font-size: 1em;
	font-weight: 500;
}

#contact textarea {
	padding-left: 10px;
	padding-top: 10px;
}

#contact form input[type="submit"] {
	background-color: #0a7ad0;
	border-style: none;
	color: white;
	border-radius: 20px;
	padding: 10px;
	margin-top: 10px;
	margin-bottom: 20px;
	width: 200px;
	font-size: 1em;
	font-weight: bold;
	font-family: Lato;
	transition: 0.5s background-color ease-in-out;	
}

#contact form input[type="submit"]:hover {
	background-color: black;
}

#contact {
	text-align: center;
}

#contact + input[type="submit"] {
	margin-top: 10px;
	background-color: rgba(0,0,0,.5);	
}

#contact + input[type="submit"]:hover {
	background-color: black;	
}

/*******
* MAIL *
*******/

.testMail {
	background-color: green;
	text-align: center;
}

.testMail p {
	text-align: justify;
}

/******
* FAQ *
******/

#faq {
	padding-bottom: 20px;
}

#faq .popTitle, #listExhibitor h2, #myStatus h2, #profile h2, #booth h2 {
	background-color: white;
	line-height: 50px;
	cursor: pointer;
	text-align: center;
}

#profile h2, #booth h2 {
	line-height: 30px;
}

#profile h2:not(.popTitle) {
	cursor: initial;
}

#faq .popTitle {
	text-align: left;
	line-height: 20px;
	height: 50px;
	padding-left: 0;	
}

#faq .question {
	height: 30px;
}

#faq .fa-caret-down {
	position: relative;
	top: initial;
	left: initial;
	transform: rotate(0deg);	
}

#faq .fa-caret-down.rotate180 {
	transform: rotate(180deg);
}	

#faq .container {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}

#faq .container .fa-caret-down, #faq .container .question {
	padding: 0 10px;
}

#faq p {
	text-align: justify;
	text-indent: 20px;
	padding: 10px;	
}

#faq h1 + p {
	text-align: center;
}

.pop {
	width: 95%;
	margin: 0 auto 5px auto;
	border: solid 1px rgb(90,149,157);
}

#profile .pop, #booth .pop {
	margin: 0 auto 10px auto;	
	box-shadow: 1px 1px 2px black;
}

.popTitle {
	position: relative;
	transition: .4s all ease-in-out;
}

#listExhibitor h2.popTitleInfos {
    background-color: rgba(18,87,180,.7);
    color: white;
}

#listExhibitor h2.popTitleRequest {
    background-color: rgba(90,149,157,1);
    color: white;
}

#listExhibitor h2.popTitleExposed {
    background-color: rgba(18,49,70,.8);
    color: white;
}

#listExhibitor .popComment {
	padding: 5px;
}

#listExhibitor h2 span {
    color: white;
}

#myStatus .pop:first-of-type {
	margin-top: 20px;
}

#myStatus .pop:last-of-type {
	margin-bottom: 20px;
}

#listExhibitor .link {
	margin-top: 0;
	margin-bottom: 20px;
}

#listExhibitor .popContent table, #listExhibitor .popContent, #myStatus .popContent table, #myStatus .popContent, #profile .popContent table, #profile .popContent, #booth .popContent table, #booth .popContent {
	width: 100%;
	margin: 0;
	padding: 0;
	box-shadow: none;
}

#listExhibitor .popContent table th, #listExhibitor .popContent table td, #myStatus table td, #profile .popContent table th, #profile .popContent table td, #booth .popContent table th, #booth .popContent table td {
	width: 48%;
}

#listExhibitor .popContent table th, #myStatus table th, #profile .popContent table th, #booth .popContent table th {
	border-right: solid 1px #1e5c8c;
}

#listExhibitor .popContent table tr:nth-child(even), #myStatus table tr:nth-child(even), #profile table tr:nth-child(even), #booth table tr:nth-child(even) {
	background-color: #d8e5ee;	
}

#listExhibitor .popContent table tr:nth-child(odd), #myStatus table tr:nth-child(odd), #profile table tr:nth-child(odd), #booth table tr:nth-child(odd) {
	background-color: #90b5cf;
}

/********
* Admin *
********/

#default {
	padding-bottom: 20px;
}

#default h1+p {
	text-align: center;
}

#default .pop:first-of-type {
	margin-top: 15px;
}

#default .popTitle {
	cursor: pointer;
}

#default .popContent {
	background-color: #90b5cf;
}

#default a {
	color: #06375d;
}

#default a:hover {
	color: black;
}

#default p{
	text-indent: 20px;
	padding: 10px;
}

#default h2 {
	background-color: white;
	line-height: 50px;
	padding-left: 50px;
	width: 100%;
}

#default p {
	text-align: justify;
}

#default ul {
	width: 90%;
	margin: 10px auto 20px auto;

}

#default li {
	list-style: url(../images/list.png);
	padding-left: 20px;
	list-style-position: inside;
}

/*******************
* EXHIBITOR STATUS *
*******************/

#listExhibitors, #listExhibitor {
	padding-bottom: 20px;
}

#listExhibitors h2, #listExhibitor h2 {
	background-color: white;
	width: 100%;
	font-style: italic;
	font-size: 1em;
	text-align: center;
}

.update, .reading, .list {
	cursor: pointer;
	line-height: 30px;
	vertical-align: middle;
	color: #12578c;
	transition: .3s all ease-in-out;
}

.update:hover, .reading:hover, .list:hover {
	transform: scale(1.3);
}

.list::before {
	background: url(../images/listOff.png) no-repeat;	
}

.list:hover::before {
	background: url(../images/listOn.png) no-repeat;;
} 

.update::before {
	background: url(../images/updateOff.png) no-repeat;	
}

.update:hover::before {
	background: url(../images/updateOn.png) no-repeat;;
} 

.reading::before {
	background: url(../images/readingOff.png) no-repeat;	
}

.reading:hover::before {
	background: url(../images/readingOn.png) no-repeat;;
} 

.update::before, .reading::before, .list::before {
	content: "";	
    display: inline-block;
	width: 30px;
	height: 30px;
	background-size: 100%; 
	position: relative;  
	right: 20px;
	top:5px;
	transition: .3s all ease-in-out;		
}

.update:hover::before, .reading:hover::before, .list:hover::before {
	content: "";	
    display: inline-block;
	width: 30px;
	height: 30px;
	background-size: 100%; 
	position: relative;  
	right: 20px;
	top:5px;
} 

#listExhibitors tr>td:first-child, form #listExhibitors tr>td {
	transition: .3s all ease-in-out;
}

#listExhibitors tr>td:first-child:hover, form #listExhibitors tr>td:hover {
	transform: scale(1.2);
}

#selectExhib {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 95%;
	line-height: 30px;
	margin: 15px auto 5px auto;
}

#selectExhib input {
	cursor: pointer;
	font-family: Roboto, Arial;
	font-weight: bold;
	font-size: 1em;
	color: #1e5c8c;
	width: 150px;
	margin: 0;
	margin-top: 1px;
	height: 30px;
	transition: .3s all ease-in-out;
}

#selectExhib input:hover {
	color: black;
}

.selectionIcon, .hostIcon {
	display: inline-block;
	vertical-align: middle;
	width: 30px;
	height: 30px;
}

.hostIcon {
	width: 50px;
	height: 50px;
	cursor: pointer;	
	transition: .3s all ease-in-out;
}

.hostIcon:hover {
	transform: scale(1.2); 
}

/***************
* Arrow to Top *
***************/

.arrowToTop{
	width:80px; 
	height:80px; 
	position:fixed;
	bottom:60px;
	right:20px;
	opacity: 0;	
	background: url('../images/arrow.png') no-repeat;
	background-size: contain;
	background-color: rgba(0,0,0,0.5);
	border-radius: 10px;
	z-index: 0;
	transition: 1s all ease-in-out;
}

.arrowToTop.On {
	cursor: pointer;
	opacity: 1;
	z-index: 10;	
}

.arrowToTop.On:hover{
	text-decoration:none;
	background: url('../images/arrow.png') no-repeat;
	background-size: contain;
	background-color: rgba(0,0,0,1);	
}

#exhibPresentation {
	position: relative;
}

.logoIcon, .typeIcon {
	position: absolute;
}

.logoIcon {
	max-height: 46px;	
	top: 0;	
	left: 10px;
}

.typeIcon {
	max-height: 46px;	
	top: 2px;
	right: 10px;
}

/************
* Animation *
************/

/* No Logo icon*/
.typeInfo {
	padding: 20px;
}

#noLogo {
	position: relative;
}

.noLogoImg {
	width: 80px;
	position: absolute;
	top: 0px;
	left: 10px;
	transform-origin: 50% 12.5%;
}

.noLogoImg:nth-child(1) {
	-webkit-animation: swing 2s infinite;
	animation: swing 2s infinite;
}

.noLogoImg:nth-child(2) {
	-webkit-animation: swing 2s infinite, electric 3s infinite alternate;
	animation: swing 2s infinite, electric 3s infinite alternate;
}

 #noLogo {
	max-width: 100px;
	height: auto;
}

@keyframes swing {
	0%, 100%{
		-webkit-animation-timing-function: ease-in-out;	
		animation-timing-function: ease-in-out;	
		-webkit-transform: rotate(-20deg);
		transform: rotate(20deg);
		}
	50% {
		-webkit-animation-timing-function: ease-in-out;	
		animation-timing-function: ease-in-out;	
		-webkit-transform: rotate(-20deg);
		transform: rotate(-20deg);
		}		
}	

@keyframes electric {
	0%, 29%, 45%, 55%, 62%, 70%, 72%, 74%, 78%, 82%, 84%, 88%, 93%, 100% {
		-webkit-opacity: 1;
		opacity: 1;
		}
	30%, 44%, 56%, 60%, 71%, 75%, 77%, 83%, 85%, 94%, 99% {
		-webkit-opacity: 0;
		opacity: 0;
		}		
}	

.yourLogo {
	animation: verticalFlip 3s infinite;
	perspective: 2000;
	transform-origin: 50% 0;
	max-height: 80px;
}

@keyframes verticalFlip {
	0%, 100% {
		animation-timing-function: ease-in-out;	
		transform: rotateX(15deg) skew(10deg) scale(.98);		
	}	
	50% {
		animation-timing-function: ease-in-out;	
		transform: rotateX(-20deg)  scale(1.05);		
	}			
}

@keyframes swing {
	0%, 100%{
		-webkit-animation-timing-function: ease-in-out;	
		animation-timing-function: ease-in-out;	
		-webkit-transform: rotate(-20deg);
		transform: rotate(20deg);
		}
	50% {
		-webkit-animation-timing-function: ease-in-out;	
		animation-timing-function: ease-in-out;	
		-webkit-transform: rotate(-20deg);
		transform: rotate(-20deg);
		}		
}	


/****************
* MEDIA QUERIES *
****************/

@media screen and (max-width: 900px)  {

}

@media screen and (max-width: 900px)  {
	header .menuS, header #logoutS {
		display: block;
	}

	header #logoutS img{
		z-index: 5;
	}	

	header .menuS img, header #logoutS img {
		cursor: pointer;
		width: 40px;
		height: 40px;
		position: absolute;
		top: 2px;
	}

	header .menuS.closeMenuBtn img {
		top: -43px;
		z-index: 2;
	}

	header .menuS img {
		left: 10px;
	}

	header .menuS .menuTop, header .menuS .menuBottom, header .menuS .menuMiddle {
		transition: .3s transform ease-in-out, .3s opacity ease-in-out;
		transform: translateY(0) translateX(0) rotate(0) ;
		opacity: 1;
	}

	header .menuS.rotate180 .menuTop {
		transform: translateY(6px) translateX(5px) rotate(-45deg);
	}

	header .menuS.rotate180 .menuBottom {
		transform: translateY(-6px) translateX(5px) rotate(45deg);
	}	

	header .menuS.rotate180 .menuMiddle {
		opacity: 0;
	}	

	header #logoutS img {
		right: 10px;
	}

	#logout {
		display: none;
	}

	header img#pelLogo {
		left: 50%;
		transform: translateX(-50%);
		z-index: 2;
	}

	nav#menu .pop .popContent {
		position: relative;
		padding: 0;
	    background-color: rgba(90,149,157,.5);
	    overflow: hidden;
	    transition: max-height 0.3s ease-in-out;    
	    max-height: 0;	
	}

	nav#menu .pop {
		width: 100%;
		position: relative;
		border: none;
	}

	nav#menu .pop .popContent {
		position: relative;
		top: 45px;
		width: 100%;
		padding: 0;
		border-top: solid 1px #333;
		border-bottom: solid 1px #333;
		box-shadow: 3px 3px 10px #000;		
	}

	header {
		border-bottom: none;
	}

	nav#menu .pop .popContent li {
		flex: 1 1 0;
		padding: 0;
	}

	nav#menu .pop .popContent li a {
		cursor: pointer;
		display: block;
		border: none;
		text-align: center;
		padding: 16px 10px 17px 10px;
	}

	nav#menu .pop .popContent li:nth-child(odd) {
		width: 100%;
		background-color: rgba(18,87,140,1);
	}

	nav#menu .pop .popContent li:nth-child(even) {
		width: 100%;
		background-color: rgba(0,0,0,1);
	}

	#profile form input[type="radio"] + label {
    	width: 130px;
    	height: 130px;
	}

	.containerType {
		display: block;
	}

	.flexContentLogo {
		align-items: center;
	}

	.uploadFilename {
		font-size: .8em
	}

	#profile form input[type="radio"] + label {
    	width: 150px;
    	height: 150px;
	}

	.labelUpload {
		height: 10px;
		width: 10px;
	}
}

@media screen and (max-width: 740px)  {
	.actionBtn img {
		max-width: 210px;
		width: 80%;
	}

	.actionBtn {
		font-size: 4.3vw;
	}

	#content .chosen-container {
		font-size: 14px;
	}	

}

@media screen and (max-width: 500px)  {

	nav#menu ul {
	flex-direction: column;
	}

	#passwordRules {
		width: 100%;
	}

	header .menuS img {
		left: 0;
	}

	header #logoutS img {
		right: 0;
	}

	footer img {
		height: 40px;
		right: 5px;
	}

	footer {
		height: 25px;
		line-height: 25px;
		text-align: left;
		text-indent: 5px;
		font-size: .6em;
	}

	#content {
		width: 100%;
		border-radius: 0;
		margin-top: 70px;
	}

	#content h1 {
		border-radius: 0;
		font-weight: 900;
		font-family: Roboto, Arial;
		text-stroke: initial;
		-webkit-text-stroke: initial;		
	}

	#content h2 {
		font-size: 1em;
		padding: 0;
		text-align: center;
	}

	#content h2, #listExhibitor h2, #myStatus h2, #profile h2, #booth h2 {
		line-height: 40px;
	}

	#profile h2.paddingBottom {
		font-size: .8em;
		padding-bottom: 0;
	}

	#default {
		padding-bottom: 5px;
		margin-bottom: 57px;
	}

	#default p {
		font-size: .9em;
	}

	#default .pop .popContent {
		padding: 0;
		background-color: #90b5cf;
	}

	#default .pop .popContent p {
		padding: 5px;
		background-color: #90b5cf;
	}	

	#default li {
		padding-left: 0;
	}

	#listExhibitor .popContent table th, #myStatus table th, #profile .popContent table th, #booth .popContent table th {
		font-size: .8em;
	}

	.containerType {
		display: block;
	}

	.flexContentLogo {
		align-items: center;
	}

	.uploadFilename {
		font-size: .8em
	}

	#profile form input[type="radio"] + label {
    	width: 100px;
    	height: 100px;
	}

	.uploadIcon {
		filter: initial;
	}

	.labelUpload {
		height: 10px;
		width: 10px;
	}

	#listExhibitors + input[type="submit"].fixedSubmit, #profile input[type="submit"].fixedSubmit, #booth input[type="submit"].fixedSubmit {
    background-color: rgba(10,122,208,.7);
	}

	#listExhibitors + input[type="submit"], #profile input[type="submit"], #booth input[type="submit"], #fixedSubmit {
		width: 100px
	}

	#faq h1 + p {
    	font-size: .8em;
	}

	#faq .popTitle {
		height: 40px;
	}

	#faq .popContent p {
		padding: 5px;
	}

	#faq .popContent {
		padding: 0;
	}	

	#contact input::placeholder {
		font-size: .8em;
	}

	#contact select {
		width: 90%;
		padding: 7px;
	}

	.actionBtn select {
		width: 90%;
		padding: 1px;
	}	

	.pop {
		width: 100%;
	}

	.btnPlusMinus {
		width: 20px;
		height: 20px;
	}

	.area, .jeux {
		display: block;	
	}

	.gameList, .hostList {
		width: 98%;
	}

	#content h2.presentation, #content #contentFileBtn, #content #contentTextareaBtn {
		font-size: .9em;
	}

	#booth form .area input[type="radio"] + label {
	    width: 200px;
	    height: 50px;
	    margin: 3px 0;
	}	

	#booth h2.packShop {
		line-height: 25px;
		font-size: .9em;
		font-weight: 400;
	}

	#selectExhib {
		display: none;
	}

	table {
		width: 100%;
	}

	#listExhibitors table {
		margin-top: 10px;
		margin-bottom: 40px;
	}

	.noLogoImg {
		width: 60px;
	}

	.arrowToTop {
	    width: 40px;
	    height: 40px;
	    bottom: 47px;
	    right: 10px;
	}	

	#content .actionBtn h2 {
		font-size: 1.5em;
	}	

	.actionTitle {
		padding-right: 30px;
		padding-left: 30px;
	}

	.actionForm {
		padding-right: 3px;
		padding-left: 3px;
		font-size: .5em;
	}

	.actionForm input {
		width: 98%;
		padding: 5px 0;
		font-family: Roboto;
		font-size: 1em;
	}

	.actionForm input::placeholder {
	  font-size: 1em;	
	}	

	.actionFormTitle {
		display: none;
	}

	#content .chosen-container {
		font-size: 10px;
	}

	#content h1:last-child {
		border-radius: 0;
	}

	#listExhibitors input[type=number], .numberBig, #booth #myBooth input[type=number] {
		font-size: 1.2em;
	}
}

@media screen and (max-width: 400px)  {
	/* LOGIN*/
	#login {
		width: 100%;
	    top: 50%;
		border-radius: 0;
		box-shadow: none;
	}

	#login.newPassword {
		top: 0;
		transform: translateX(-50%) translateY(0);
	}

	#loginHeader {
		border-radius: 0;
		height: 80px;
	}	

	#login form {
		padding: 5px;
	}

	#login label {
	    width: 30%;
	    padding: 2px;
	}

	#login form input:not([type="submit"]) {
	    width: 65%;
	    padding: 4px;
	}	

	#login form input[type="submit"] {
		margin-bottom: 5px;
		padding: 5px;
		width: 140px;
	}

	#login #loginBtn.inactive {
		font-size: .8em;
		width: 200px;
	}

	#login p.forgottenPassword {
		border-radius: 0;
	}	

	#content h2.presentation, #content #contentFileBtn, #content #contentTextareaBtn {
		font-size: .8em;
	}	

	#controls {
		padding-bottom: 180px;
	}

	.actionTitle {
		padding-right: 45px;
		padding-left: 0;
	}

	.actionBtn img {
		top: 0;
		right: 0;
		left: initial;
		transform: initial;
		bottom: initial;
		height: 50px;
		width: auto;
	}

	.actionBtn {
		min-height: initial;
		height: 60px;
		overflow: initial;
	}

	.actionForm {
		opacity: 1;	
	}

	.actionForm.closed {
		opacity: 0;		
	}

	.actionForm.closed, .actionForm {
		height: 160px;
		bottom: initial;
		width: 200%;
		max-width: initial;
		margin: auto;
	}

	#addExhibitorBtn .actionForm.closed, #addUserBtn .actionForm.closed, #addExhibitorBtn .actionForm, #addUserBtn .actionForm {
		top: calc(200% + 20px);
	}

	#removeExhibitorBtn .actionForm.closed, #removeUserBtn .actionForm.closed, #removeExhibitorBtn .actionForm, #removeUserBtn .actionForm {
		top: calc(100% + 10px);	
	}	

	#addUserBtn .actionForm.closed, #removeUserBtn .actionForm.closed, #addUserBtn .actionForm, #removeUserBtn .actionForm {
		left: -100%;
	}		

	#addExhibitor {
		background-color: rgba(18,49,70,.5);
	}

	#removeExhibitor {
		background-color: rgba(87,142,183,.5);
	}

	#addUser {
		background-color: rgba(90,149,157,.5);
	}

	#removeUser {
		background-color: rgba(18,87,180,.5);
	}
	
}